<div class="m-3" style="justify-content: center; display: flex;">
  <div class="card albumPersonas">
    <div class="card-header text-center headerPersona">
      <h2>1. Personas</h2>
    </div>
    <div class="card-body bodyPersona">
      <div class="row" ngClass="marco" *ngFor="let item of objetoPersonas">
        <div class="col-4" style="display: flex; justify-content: center; align-items: center;">
          <img [src]="item.fotografia" class="persona-image">
        </div>
        <div class="col-7 persona-details">
          <h3>{{item.nombre}}</h3>
          <p>
            <span class="enunciadoSecundario">Genero:</span>
            {{item.genero}}
          </p>
          <p>
            <span class="enunciadoSecundario">Fecha de nacimiento:</span>
            {{item.fechaNacimiento | date:'dd/MM/yyyy'}}
          </p>
          <p>
            <span class="enunciadoSecundario">ubicación:</span>
            {{item.ubicacion}}
          </p>
          <p>
            <span class="enunciadoSecundario">Correo electronico:</span>
            {{item.correoElectronico}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
